---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Passionate digital marketer with a knack for creating impactful online campaigns that drive engagement and boost brand visibility. Skilled in SEO, content marketing, social media strategy, and analytics, I thrive on leveraging data to optimize performance and achieve measurable results. Committed to staying ahead of industry trends and continuously learning to enhance my strategies. Let's connect and explore innovative ways to elevate your brand in the digital landscape!"

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title= "BSC Mass Communication"
      subtitle=2019 to 2024 Lagos State University, Lagos,Nigeria

      title="Certified Digital Marketing "
      subtitle=september 2024 at Honeytreat Trade Academy, Lagos, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Campaign AD Manager"
      subtitle="2024 at Trade with Lumide, Lagos, Nigeria"
   Developed advertising strategies.
 Managed the budget.
 Targeted the right audience.
 Oversaw creative content.
 Monitored ad performance.
 Conducted A/B testing.
Reported results to stakeholders.
 
      title="Virtual Assistant"
      subtitle="september 2024 to at GetWorkingUK, London, UK"
	Creating and managing emails 
  	Crafted a well detailed resume for clients in search of work in the UK 
	Responding to customer inquiries and managing relationships to support through various channel 
	Gathering clients data and compiling reports to assist in decision making 
	Responding to emails within 24 hours for effective communication  

      title="Social Media Manager"
      subtitle="2022 to 2023 at WAP TV, Lagos, Nigeria"
  	Crafted spellbinding content that significantly increased user engagement.   
	Stayed ahead of social media trends, incorporating them into content strategy for heightened relevance.   
	Transformed raw data into potent insights, guiding mystical campaign optimizations.    
	Fostered an online community, resulting in a substantial growth in follower interaction  

    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>SEO</li>
    <li>Google Analytics</li>
    <li> Contenting Marketing</li>
    <li>Virtual Assistanr</li>
    <li>Google Local Business</li>
    <li>Google Business Profile</li>
    <li>Instagram Ads</li>
    <li>Facebook Ads</li>
    <li>Linkedin Ads</li>
    <li>Campaign ad Manager</li>
    <li>Email Marketing</li>
    <li>Copy Writing</li>
    <li>Social Media Marketing</li>
    <li>Social Media Marketing</li>
    <li>Community Manager</li>
  </ul>
</BaseLayout>
