---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5WH8VFJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ajamole Olajumoke</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Specialist</div>
    <div class="py-2">
      <text class="text-lg">
        Passionate digital marketer with a knack for creating impactful online campaigns that drive engagement and boost brand visibility. Skilled in SEO, content marketing, social media strategy, and analytics, I thrive on leveraging data to optimize performance and achieve measurable results. Committed to staying ahead of industry trends and continuously learning to enhance my strategies. Let's connect and explore innovative ways to elevate your brand in the digital landscape!"
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/olatohjumoke?s=21&t=mLDP0WSHpuDHlJrqvvTH-g" target="_blank"> Follow Me On Social!</a>
      <a href="https://www.linkedin.com/in/olajumoke-ajamole-15230523b/" target="_blank" class="btn btn-outline ml-5">
        Let's Connect
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
 title="Breathe Easy:Cost and tips to professional Smoke Removal Service"
    https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breathe-easy-cost-tips-to-professional-smoke-removal-service/
    title="Blog post Conquer Allergies:Cleaning Tips For a breath of fresh air"
    Cleaning tips are important for maintaining a healthy and cozy living environment, especially during allergy season. Allergens like dust mites, pet dander, pollen, and mold can infiltrate your home, making it a challenge to breathe easy. While it’s impossible to eliminate allergens entirely, a consistent and effective cleaning routine will significantly reduce their presence.
    title="Water Damage Removal"
   Water damage is one of the most and expensive challenging issues homeowners encounters. Whether caused by a leaking pipe, a natural disaster, or a failing appliance, the impacts can be harsh.
This guide will examine water damage removal, including its causes, immediate steps to take, professional help, and prevention strategies. By grasping these elements, homeowners can act swiftly and efficiently, minimizing damage and restoring their homes. 
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
</BaseLayout>.
